@use "variables" as *;

@mixin btn{
    border: none;
    background-color: $color-primary ;
    padding: 10px 20px;
    border-radius: 20px;
    color: $color-white;
    font-weight: 600;
    margin: 15px 0;
    &:hover{
        background-color: $color-hover;
    }
    a{
        text-decoration: none;
        color: $color-white;
    }
}

@mixin  h1 {
    color: $color-primary;
    font-size: $font-size-h1;
    font-weight: $font-weight-h1;
    font-family: $text-font-2;

}
@mixin column{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
@mixin row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@mixin row-space{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}