@use "globals" as *;

main {

    .section1 {
        background-color: $bg-container;
        height: 90vh;
        @include row;

        .container {


            display: flex;
            flex-direction: column;
            text-align: end;
            align-items: end;

            p {
                font-size: $font-size-p;
            }

            .p-negrita {
                font-weight: 600;
                font-size: $font-size-pn;
            }



            .sub {
                color: $text-sub;
            }

            .btn {
                @include btn;
            }

        }

        .container2 {
            img {
                width: 350px;
                border-radius: 200px;
                box-shadow: $shadow-img;
            }
        }

    }

    .section2 {
        @include row;
        align-items: normal;

        .btn {
            @include btn;
        }

        img {
            width: 400px;
        }

        .container3 {
            text-align: center;
            width: 40%;

            p {
                font-size: $font-size-p;
            }

            button {
                a {
                    font-size: $font-size-a;
                }
            }
        }
    }

  
    .container4 {
        background-color: $bg-container;
        display: flex;
        justify-content: center;

        @include column;

        h1 {
            @include h1;
        }

        .container5 {
            
            @include row;
            div {
               
                background: $color-white;
                border-radius: 20px;
                box-shadow: $shadow-html;
                margin: 10px;
                padding: 20px;
            }

            .git {

                box-shadow: $shadow-git;

            }

            .bootstrap {
                box-shadow: $shadow-bootstrap;
            }

            .js {
                box-shadow: $shadow-js;
            }

            .css {
                box-shadow: $shadow-css
            }

            .visual {
                box-shadow: $shadow-visual;
            }

            .java {
                box-shadow: $shadow-java;

                img {
                    width: 50px;
                }
            }

            .sass {
                box-shadow: $shadow-sass;

                img {
                    width: 50px;
                }
            }

            .figma {
                box-shadow: $shadow-figma;

                img {
                    width: 50px;
                }
            }

        }

    }
}

.container6,
.container7 {
    @include column;

}

.container6 {
    background-color: $bg-container;

    h1 {
        @include h1;
    }

    .proyectos {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .card {
            background-color: $color-white;
            width: 30%;
            border-radius: 20px;
            box-shadow: $shadow-card;

            img {
                width: 100%;
                border-radius: 10px;
            }
          
            
        }
    }

}

.container7 {
    .contacto {
        @include row-space;

        div {
            text-align: center;
            width: 40%;

            .btn {
                @include btn;
            }

        }
    }


}

//ANIMACIONES
.ml11 {
    font-weight: 700;
}

.ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: $color-black;
    transform-origin: 0 50%;
}

.ml11 .line1 {
    top: 0;
    left: 0;
}

.ml11 .letter {
    display: inline-block;
    line-height: 1em;
}

.ml6 {
    position: relative;
    font-weight: 900;
    font-size: 3.3em;
}

.ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.ml6 .letter {
    display: inline-block;
    line-height: 1em;
}


.ml9 .text-wrapper {

    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.ml9 .letter {
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
    @include h1;
}