@use "header" as *;
@use "section" as *;
@use "mixins" as *;
@use "layout" as *;
@use "footer" as *;
@use "globals" as *;
@use "movile" as *;
*{
    font-family:$text-font-1;
    margin: $margin-0;
    padding: $padding-0;
    box-sizing: border-box;
    a{
        color: $color-black;
        text-decoration: none;
    }

}